html, body {
    min-height: 100%;
    padding-bottom: 30px;
}

header.navbar-static-top {
    background: #212121;
    background: linear-gradient(top, #373737, #212121);
}

.bs-docs-nav .navbar-header .navbar-toggle { border-color: #ccc }
.bs-docs-nav .navbar-toggle .icon-bar { background-color: #ccc }



footer.footer {
    background-color: #eee;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
}
















.label-box  > .label { padding: 8px 19px; margin: 6px 10px; display: inline-block; }
.label-box  > .label.label-info { cursor: pointer }
.label-box  > .label > a{ width: 0; text-decoration: none; display: inline-block; overflow: hidden; transition: width 2s ease; position: relative; left: 6px }
.label-box  > .label:hover > a{ width: auto}