header.navbar {
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1)
}

.main-left {
    /*width: 800px;*/
    height: 1000px;
}

.main-right {
    width: 300px;
    height: 200px;
    background-color: red;
}

@media (min-width: 768px) {
    .main-left {
        width: 500px;
    }
    .main-right {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .main-left {
        width: 610px;
    }
    .main-right {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .main-left {
        width: 800px;
    }
}

