<div id="article-list">

</div>

<div id="loading" class="text-center">
	<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>


<script type="text/javascript">
	$(function () {
		var page = 1;
		var pageSize = 10;
		var total = 0;

		var loading = document.getElementById('loading');

		getData();

		document.addEventListener('scroll', function (e) {
		    var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
            console.log(scrollTop,document.documentElement.clientHeight , document.documentElement.offsetHeight )
			if(scrollTop + document.documentElement.clientHeight >= document.body.scrollHeight ) {

			    if(page++ * pageSize >= total){
			        return;
			    };
			    getData();
			}
        });


		function getData() {

		    loading.style.display = 'block';

            $.get('/api/article', { page: page, pageSize: pageSize }, function (res, status, xhr) {

                loading.style.display = 'none';

                if(res.success) {
                    total = res.totalCount;
                    var divObj = document.createElement('div');
                    for( var i in res.articles) {
                        divObj.innerHTML += '<div class="panel panel-info"> \
                        <div class="panel-heading"> \
                            <h3 class="panel-title"> ' + res.articles[i].title + '</h3> \
                        </div> \
                        <div class="panel-body">' + res.articles[i].content +'Panel content </div> \
                        <div class="panel-footer">\
                            <span class="label label-success">'+ res.articles[i].label.name +'</span> \
                            <span class="pull-right">'+ formatDate(res.articles[i].time) +'</span> \
                        </div> \
                    </div>' ;
                    }
                    document.getElementById('article-list').appendChild(divObj);
                }
            }, 'json');
        }

		function formatDate(x) {
			var date = new Date(x);
			return date.getFullYear()+'年' + (date.getMonth()+1) +'月' + date.getDay() + '日 ' + date.getHours() + ':' + date.getMinutes()
        }
    });
</script>