

{{extend './common.html'}}

{{block 'content'}}


<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>用户名</th>
        <th>密码</th>
        <th>注册时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {{each users}}

    <tr>
        <td>{{ (page-1)*pageSize + $index+1}}</td>
        <td>{{$value.username}}</td>
        <td>{{$value.password}}</td>
        <td>{{$value.signInDate}}</td>
        <td><button class="btn btn-warning">修改</button><button class="btn btn-danger">删除</button></td>
    </tr>

    {{/each}}

    </tbody>

</table>


<ul class="pager">
    <li class="previous {{page==1?'disabled':''}}"><a href="./user?page={{page-1}}&pageSize={{pageSize}}"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next {{page==totalPage?'disabled':''}}"><a href="./user?page={{page+1}}&pageSize={{pageSize}}">Newer <span aria-hidden="true">&rarr;</span></a></li>
</ul>

<script type="text/javascript">
    $('ul.pager>li').on('click', function () {
        if( $(this).hasClass('disabled') ) {
            return false;
        }
    })
</script>


{{/block}}