
<!--继承父模版-->
{{extend './common.html'}}

<!--父模板插入块-->
{{block 'content'}}


<!--包含子模板-->
<% include('./common_header.html', user ) %>



{{if user.isAdmin}}
<div class="container">


    <h3 class="label-box">

        {{each labels as label index}}
        <div class="label {{label.isSystem?'label-default':'label-info'}}">

            {{label.name}}

            {{if !label.isSystem}}
                <a href="javascript:deleteLabel({{label._id}});">x</a>
            {{/if }}

        </div>
        {{/each}}

    </h3>



    <p id="label-msg" class="text-danger text-center"></p>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="添加自定义标签">
        <span class="input-group-addon" style="cursor: pointer" id="btn-addLabel"> 添加标签 </span>
    </div>

</div>


<script type="text/javascript">
    var loading = false;
    $('#btn-addLabel').on('click', function () {
        if(loading)
            return;
        loading = true;

        var name = $(this).prev('input').val();
        name = name.trim();
        if(!name) {
            $('#label-msg').html('标签名不能为空');
            return;
        }
        $.ajax({
            url: '/api/label',
            type: 'put',
            data: { labelName: name},
            dataType: 'json',
            success: function (res) {
                loading = false;
                if(res.success) {
                    window.location.reload();
                } else {
                    $('#label-msg').html(res.error);
                }
            }
        })
    });


    function deleteLabel(id) {

        if(loading)
            return;
        loading = true;

        $.ajax({
            url: '/api/label/' + id,
            type: 'delete',
            dataType: 'json',
            success: function (res) {
                loading = false;
                if(res.success) {
                    window.location.reload();
                } else {
                    $('#label-msg').html(res.error);
                }
            }
        })
    }
</script>

{{/if}}



{{/block}}